# Node / package managers
node_modules/
.pnp.*
.pnpm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Next.js
.next/
.next-static/
out/
.vercel/
.next/types/

# Build artifacts
dist/
build/
coverage/
*.log
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editor (WebStorm/JetBrains)
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/httpRequests
.idea/**/dataSources/
.idea/**/dataSources.local.xml
.idea/**/usage.statistics.xml

# keep error profile + scopes (we’re using them)
!.idea/inspectionProfiles
!.idea/inspectionProfiles/Project_Default.xml
!.idea/glnxt.iml
!.idea/modules.xml
!.idea/vcs.xml

# Local tools & caches
*.swp
*.swo
*.orig
*.patch
*.local.*
cache/
.temp/
.tmp/

# Images/textures (generated or large)
public/_cache/**
public/_generated/**